@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

.top-banner {
    background-image: url('./images/top-banner.jpeg');
    background-color: rgb(198, 138, 254);
    background-size: 1600px;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: rgb(157, 90, 219);
    --accent-color-dark: rgb(143, 34, 245);
    --padding-inline-section: 20px
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
}

.hover-link:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
    transition: 0.2s ease-out;
}

/* nav bar */
.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.ourlogo img {
    width: 330px;
}

.logo-name {
    margin-inline-end: auto;
}

.purple {
    color: rgb(108, 15, 196);
    font-weight: 700;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1{
    margin-top: 10px;
    font-size: 2.2rem;
}

.get-started-btn{
    margin-top: 20px;
}

.header-right img {
    width: 650px;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    nav .right ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgb(250, 250, 250);
        border: 1px solid #7d7a7a;
        padding: 10px;
        border-radius: 6px;
    }

    nav .right ul.show {
        display: flex;
    }

    nav .right ul li {
        margin: 10px 0;
    }
}

/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-container img {
    margin-top: 2px;
    width: 270px;
}

/* subfooter section */
.subfooter {
    background-color:#b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
}
