/* index.css */

@import url('common.css'); /* Import common styles */

/* index.html specific styles */

/* nav bar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.ourlogo img {
    width: 330px;
}

.logo-name {
    margin-inline-end: auto;
}

.purple {
    color: rgb(108, 15, 196);
    font-weight: 700;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/* header section */

header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: 10px;
    font-size: 2.2rem;
}

.get-started-btn {
    margin-top: 20px;
}

.header-right img {
    width: 650px;
}

/* big feature section */

.big-feature-section {
    padding: 30px var(--padding-inline-section);
    margin-top: 5%;
}

.big-feature-container {
    gap: 30px;
}

.feature-img img {
    width: 500px;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* cta-section */

.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section {
    padding: 120px var(--padding-inline-section) 80px;
    background-color: rgb(207, 207, 211);
}

.cta-section-container p {
    color: white;
    margin-top: 20px;
}

/* footer */

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-container img {
    margin-top: 2px;
    width: 270px;
}

/* subfooter section */

.subfooter {
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
}
